.carousel-inner img {
    object-fit: contain;
}
section#durum {
    height: 15vh;
}
section#bizkimiz p {
    font-size: 1.5rem;
}
section#kadro {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    box-sizing: border-box;
}
.card {
    margin-left: 2vw;
}